<div class="info-grid">
    <div class="info">
        <div class="info-session-header">Global GHG Emissions <i class="bi bi-info-circle" [wjTooltip]="activeSessionTooltip" [wjTooltipPosition]="6"></i></div>
        <div class="info-session-count">50,900</div>
        <div class="info-session previous-day">
            <div class="previous-day-count">
                <div>MtCO2e</div>
            </div>
            <div class="previous-day-change">
                <div class="change-right">52,400 (2019)</div><br>
                <div class="change-right positive"><i class="bi bi-caret-down-fill"></i>-1,500</div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="info-session-header">Global Population <i class="bi bi-info-circle" [wjTooltip]="loadTimeTooltip" [wjTooltipPosition]="6"></i></div>
        <div class="info-session-count">7.8</div>
        <div class="info-session previous-day">
            <div class="previous-day-count">
                <div>in Billion</div>
            </div>
            <div class="previous-day-change">
                <div class="change-right">7.7 (2019)</div><br>
                <div class="change-right positive"><i class="bi bi-caret-up-fill"></i>0.1</div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="info-session-header">Global Temperature <i class="bi bi-info-circle" [wjTooltip]="apdexTooltip" [wjTooltipPosition]="6"></i></div>
        <div class="info-session-count">1.01</div>
        <div class="info-session previous-day">
            <div class="previous-day-count">
                <div>degree Celsius</div>
            </div>
            <div class="previous-day-change">
                <div class="change-right">0.98 (2019)</div><br>
                <div class="change-right negative"><i class="bi bi-caret-up-fill"></i>0.03</div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="info-session-header">Global Sea Level rise <i class="bi bi-info-circle" [wjTooltip]="bounceRateTooltip" [wjTooltipPosition]="6"></i></div>
        <div class="info-session-count">86.7</div>
        <div class="info-session previous-day">
            <div class="previous-day-count">
                <div>millimeters</div>
            </div>
            <div class="previous-day-change">
                <div class="change-right">83.8 (2019)</div><br>
                <div class="change-right negative"><i class="bi bi-caret-up-fill"></i>2.9</div>
            </div>
        </div>
    </div>
</div>